numpy>=1.16.2
# torch>=1.0.1.post2
torchgeometry>=0.1.2
PyYAML==5.1.1
configargparse
smplx[all]
pillow
opencv-python
tqdm
human-body-prior
git+https://github.com/mattloper/chumpy
git+https://github.com/zkf1997/torchgeometry
-r optional-requirements.txt